{% extends 'home/common/base.html' %}
<!DOCTYPE html>
<html>
    <head> 
        {% block head %}
        {%load static%}
        <title> Change Password </title>
        <link rel="stylesheet" href="{%static 'home/style.css' %}">
        {% endblock head %}
    </head>

    <body>
        {% block body %}
        {% include 'home/common/refOfLogout.html' %}
        <div class = "container">
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type = "submit">Change Password</button>
            <br></br>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                </ul>
            </form>
        </div>
        {% endblock body %}
    </body>
</html>