{% extends 'home/common/base.html' %}
<!DOCTYPE html>
<html>
    <head> 
        {% block head %}
        {%load static%}
        <title> Edit Profile </title>
        <link rel="stylesheet" href="{%static 'home/style.css' %}">
        {% endblock head %}
    </head>

    <body>
        {% block body %}
        {% include 'home/common/refOfLogout.html' %}
        <div class = "container">
            <form method = "post">
                {% csrf_token %}
                {{ uf.as_p }}
                <button type = "submit">Submit</button>
            </form>
        </div>
        {% endblock body %}
    </body>
</html>