{% extends 'home/common/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
        {% load static %}
        <title>Login</title>
        <link rel = "stylesheet" href = "{% static 'home/LogAndRes.css' %}">
        {% endblock head %}
        
    </head>
    <body>
        {% block body %}
        <div class="container-fluid bg">
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-6 col-xs-12 row-container">
                    <form action = "{% url 'home:registerUser' %}" method = "post">
                        <h1>Wellcome to ICU Assistance</h1>
                        {% csrf_token %}
                        {{rF.as_p}}
                        <button type="submit" class="btn btn-success btn-block my-3">Submit</button>
                        <a class="btn btn-success btn-block my-3" href = "{% url 'home:loginUser' %}"> Login </a>                  
                    </form>
                </div>
            </div>
        </div>
        {% endblock body %}
        
        <script src="" async defer></script>
    </body>
</html>