{% extends 'home/common/base.html' %}
<!DOCTYPE html>
<html>
    <head> 
        {% block head %}
        {%load static%}
        <title> Profile </title>
        <link rel="stylesheet" href="{%static 'home/style.css' %}">
        {% endblock head %}
    </head>

    <body>
        {% block body %}
        <h1> Profile </h1>
        {% include 'home/common/refOfLogout.html' %}
        <div class = "container">
            <p>Username: {{ user }}</p>
            <p>Password: {{ user.password }} </p>
            <p>Email: {{ user.email }} </p>
        </div>
        <a  href = "{% url 'home:edit_profile' %}"> Edit </a>
        {% endblock body %}
    </body>
</html>